In [200]:
from _keys import db_user, db_password, db_name, db_host, db_port
import psycopg2
import pandas as pd

In [201]:
conn = psycopg2.connect(dbname=db_name, user=db_user, password=db_password, host=db_host, port=db_port)
cur = conn.cursor()

In [202]:
sql = """
select id, title from sus_user_posts where title !='This account is banned and is temporarily preserved for purposes of transparency.' and author = 'BlackToLive' order by length(title) desc
"""

In [203]:
df = pd.read_sql(sql, conn)

In [204]:
df.head()

       id                                              title
0  4s2pte  There is something you can do to hold police a...
1  4s2pte  There is something you can do to hold police a...
2  4sobap  The double standard in the way America respond...
3  4sobap  The double standard in the way America respond...
4  4s0u4y  Double standard in the way America responds to...

In [205]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, TfidfTransformer

In [206]:
tfidf_vectorizer=TfidfVectorizer(use_idf=True, stop_words='english')

In [207]:
docs = []
for i in range(len(df)):
    docs.append(df.iloc[i]['title'])

In [208]:
tfidf_vectorizer_vectors=tfidf_vectorizer.fit_transform(docs)
first_vector_tfidfvectorizer=tfidf_vectorizer_vectors[0] 
df1 = pd.DataFrame(first_vector_tfidfvectorizer.T.todense(), index=tfidf_vectorizer.get_feature_names_out(), columns=["tfidf"])

In [209]:
df1 = df1.sort_values(by=["tfidf"],ascending=False)

In [210]:
df1.head(15)

                tfidf
police       0.363765
nationwide   0.294563
oversight    0.294563
publicly     0.294563
petition     0.294563
elected      0.294563
reviewed     0.294563
create       0.294563
accountable  0.294563
agency       0.294563
hold         0.294563
matter       0.000000
lives        0.000000
post         0.000000
picture      0.000000

In [211]:
cv = CountVectorizer(stop_words='english')
word_count_vector=cv.fit_transform(docs)

In [212]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True) 
tfidf_transformer.fit(word_count_vector)

TfidfTransformer()

In [213]:
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names_out(),columns=["idf_weights"])
df_idf.sort_values(by=['idf_weights'])

             idf_weights
black           1.497838
war             2.223775
americans       2.223775
police          2.366876
cops            2.533930
...                  ...
explain         3.833213
experiences     3.833213
equality        3.833213
hand            3.833213
wrong           3.833213

[117 rows x 1 columns]